<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LogBin</title>
    <meta name="description" content="Display logs in real time">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
    <script src="/deps/moment" defer></script>
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>{{ bucketID }}</h1>
      <input type="text" id="filter" placeholder="Type to filter" />
    </header>

    <main>
      <ol id="logs"></ol>
    </main>

    <footer>
      <span>Made with <a href="https://glitch.com">Glitch</a>!</span>
      <span class="ingest-guide">curl -s -XPOST 'https://log-bin.glitch.me/{{bucketID}}' -H 'Content-type: text/plain' -d 'A test log message!'</span>
    </footer>
  </body>
</html>
